body {
  font-family: "Quicksand", sans-serif;
  background-image: var(--background-image);
  color: var(--text-color);
}

:root {
  --background-image: linear-gradient(to right, #d8eaea 0%, #c9ccd5 100%);
  --text-color: #313b4a;
  --background-color: #fff;
  --border-card: 1px solid #fff;
  --background-boxes: #d8eaea;
  --button-color: #6b789a;
  --button-color-2: #d8eaea;
  --button-color-3: #fff;
  --link-color: #6b789a;
  --border-mode: #6b789a;
}

html[data-theme="dark"] {
  --text-color: #feffeb;
  --background-image: linear-gradient(to right, #16213e 0%, #0f3460 100%);
  --background-color: #1b1b2f;
  --border-card: 1px solid #1b1b2f;
  --background-boxes: #0f3460;
  --button-color: #f19435;
  --button-color-2: #0f3460;
  --button-color-3: #0f3460;
  --link-color: #f19435;
  --border-mode: #0f3460;
}

form {
  text-align: center;
  padding: 1cm;
}

.searchBar,
.weatherToday,
.forecastWeek {
  border: var(--border-card);
  background-color: var(--background-color);
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 50px 50px rgba(65, 50, 100, 0.08);
}

.searchBar {
  border-radius: 15px 15px 3px 3px;
}

.forecastWeek {
  border-radius: 3px 3px 15px 15px;
}

.card1,
.card2,
.card3 {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  max-width: 800px;
}

.card1 {
  border-radius: 100px 5px;
}

input {
  border: var(--border-card);
  border-radius: 7px;
  color: var(--text-color);
}

.city {
  width: 10cm;
  padding: 10px;
  background-color: var(--background-boxes);
}

.search,
.location,
.mode1,
.mode2 {
  background-color: var(--button-color);
  border-radius: 7px;
}

.search,
.location {
  border: var(--border-card);
  color: var(--button-color-3);
  padding: 10px;
  width: 1.5cm;
}

.mode1,
.mode2 {
  border: var(--border-mode);
  color: var(--button-color-2);
  padding: 5px;
  width: 3cm;
  margin: 2px;
}

.modes {
  display: flex;
  justify-content: center;
}

.search:hover,
.location:hover,
.mode1:hover,
.mode2:hover {
  background-color: var(--button-color-2);
  color: var(--button-color);
}

h1,
h2,
h3,
h5,
ul,
.others {
  text-align: center;
  color: var(--text-color);
}

.mainIcon {
  display: inline;
  margin: 0 auto;
  width: 150px;
  vertical-align: middle;
}

h1 {
  font-size: 85px;
  display: inline;
  font-weight: bold;
  vertical-align: middle;
}

h2 {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  font-size: 15px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

a {
  display: inline;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.active {
  color: var(--text-color);
  cursor: default;
  font-size: 22px;
}

.active:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px 10px;
  margin: 0 auto;
}

.humidity,
.wind {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: var(--background-boxes);
  background-color: var(--background-boxes);
  color: var(--text-color);
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}

.humidity {
  margin: auto;
  margin-right: 10px;
}

.wind {
  margin: auto;
  margin-left: 10px;
}

.humidity-value,
.wind-value {
  font-size: 25px;
}

.others {
  padding: 0px 10px;
}

.forecast-date,
.forecast-hour {
  font-size: 15px;
}

.forecastHour {
  text-align: center;
  padding: 20px 70px;
  margin: 0 auto;
  margin-left: 25px;
}

.forecast-temperatures {
  font-size: 22px;
  font-weight: bold;
}

.forecastWeek {
  padding: 50px 90px;
}

.icon {
  width: 60px;
}

.maxTemperature {
  font-weight: bold;
  font-size: 22px;
}

.minTemperature {
  opacity: 0.6;
  font-size: 16px;
}

.code {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  color: var(--text-color);
}

.links {
  display: inline;
  color: var(--link-color);
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
  color: var(--text-color);
}
