body {
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(to right, #d8eaea 0%, #c9ccd5 100%);
}

form {
  text-align: center;
  padding: 1cm;
}

.searchBar,
.weatherToday,
.forecastWeek {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
}

.searchBar {
  border-radius: 15px 15px 3px 3px;
}

.forecastWeek {
  border-radius: 3px 3px 15px 15px;
}

.card1,
.card2,
.card3 {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  max-width: 800px;
}

.card1 {
  border-radius: 100px 5px;
}

input {
  border: 1px solid #fff;
  border-radius: 7px;
}

.city {
  width: 10cm;
  padding: 10px;
  background-color: #d8eaea;
}

.search,
.location {
  border: 2px solid #fff;
  background-color: #6b789a;
  color: #fff;
  border-radius: 7px;
  padding: 10px;
  width: 1.5cm;
}
.search:hover,
.location:hover {
  background-color: #d8eaea;
  color: #6b789a;
}

h1,
h2,
h3,
h5,
ul,
.others {
  text-align: center;
  color: #313b4a;
}

img {
  display: inline;
  margin: 0 auto;
  width: 150px;
  vertical-align: middle;
}

h1 {
  font-size: 85px;
  display: inline;
  font-weight: bold;
  vertical-align: middle;
}

h2 {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  font-size: 15px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0px 10px;
  color: #313b4a;
  margin: 0 auto;
}
.humidity,
.wind {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: #d8eaea;
  background-color: #d8eaea;
  color: #313b4a;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}

.humidity {
  margin: 0px 10px 0px 55px;
}

.wind {
  margin: 0px 35px 0px 10px;
}

span {
  font-size: 25px;
}

.others {
  padding: 0px 10px;
}

.forecastDay {
  text-align: center;
  padding: 20px 70px;
}
.forecastWeek {
  padding: 50px 90px;
}

.code {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  color: #313b4a;
}

a {
  display: inline;
  color: #6b789a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #313b4a;
}

.active {
  color: #313b4a;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
